@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  --moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  border: none;
}

a:focus,
a:active {
  outline: none;
  border: none;
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
}

.display-none {
  display: none;
}

button {
  outline: none;
  border: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.header-1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "Cormorant", sans-serif;
  color: #10172D;
  line-height: 64px;
}

.header-2 {
  font-size: 64px;
  line-height: 51px;
  font-weight: 400;
  font-family: "Cormorant", sans-serif;
  margin-top: 40px;
  color: #10172D;
}

.header-3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #10172D;
}

.descr {
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #10172D;
}

.text-bold {
  font-weight: 500;
}

.section-100 {
  margin-top: 100px;
}

.section-200 {
  margin-top: 200px;
}

.white-bg {
  background-color: #F2F3F4;
}

a {
  color: #10172D;
}

.blue-bg {
  background-color: #10172D;
  padding-bottom: 95px;
}

.btn {
  font-family: "Inter", sans-serif;
  display: block;
  padding: 15px 16px;
  background-color: #10172D;
  color: #F2F3F4;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  border-radius: 50px;
  box-shadow: 0px 4px 12.4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  transition: all 0.3s ease;
  background-color: #39425E;
}

.container {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.close {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.5s ease;
}

.burger {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.5s ease;
}

.close.active {
  opacity: 1;
  width: 32px;
  height: 22px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.burger.active {
  opacity: 1;
  width: 32px;
  height: 22px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.anim__show {
  transform: translate(0px, 10%);
  opacity: 0;
  transition: all 0.5s ease;
}

.anim__show.active,
.active .anim__show {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.5s ease;
}

body {
  background: #F2F3F4;
}

html {
  scroll-behavior: smooth;
}

.header.active {
  padding: 28px 0;
  min-height: 87px;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
  background: #F2F3F4;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 1;
  height: 87px;
  z-index: 20;
}

.header {
  opacity: 0;
  height: 0;
  width: 0;
  transition: opacity 0.4s ease;
}

.header.h-height {
  height: auto !important;
}

.nav__mob {
  display: none;
}

.burger__container {
  display: block;
}

.header__container {
  display: flex;
  flex-direction: column;
}
.header__container .header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__container .header__top .header__right {
  display: flex;
  align-items: center;
}
.header__container .header__top .header__right .header__social {
  display: flex;
  align-items: center;
}
.header__container .header__top .header__right .header__social .descr {
  font-weight: 400;
  font-size: 20px;
}
.header__container .header__top .header__right .header__social a {
  padding-right: 20px;
  fill: #10172D;
}
.header__container .header__top .header__right .header__social a:hover {
  color: #39425E;
}
.header__container .header__top .header__right svg:hover {
  fill: #39425E;
}

.header__bottom {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.header__bottom .right__block {
  text-align: right;
}
.header__bottom .right__block a .descr {
  margin-top: 18px;
}

.header__bottom.active {
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.nav__item {
  grid-column: 4 span;
}
.nav__item .nav__link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.nav__item .nav__link:hover {
  color: #39425E;
  transition: 0.3s all ease;
}

.box-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-relative {
  position: relative;
  height: 90vh;
}

.type-main {
  min-height: 90vh;
}

.height-80 {
  height: 80vh;
}

.main {
  padding-top: 130px;
  color: #F2F3F4;
}
.main .top {
  display: flex;
  align-items: end;
}
.main .top .header-1 {
  line-height: 64px;
  color: #F2F3F4;
}
.main .top .descr {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-wrap: balance;
  width: 60%;
  color: #F2F3F4;
}
.main .img {
  margin-top: 40px;
}

.scroll__partners {
  position: relative;
}

.partners__container {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translate(0%, -50%);
  display: flex;
  align-items: end;
  gap: 100px;
  transition: transform 0.5s ease-out;
}
.partners__container .partners__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.catalog .header-1 {
  margin-top: 40px;
}
.catalog .type__block-lr {
  margin-top: 40px;
}
.catalog .descr {
  text-align: right;
  color: #F2F3F4;
  margin-top: 20px;
}

.type__block-lr {
  display: flex;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
.type__block-lr .descr {
  text-align: left;
  color: #10172D;
  margin-top: 20px;
}
.type__block-lr .left {
  width: 50%;
  padding: 0 64px 0 40px;
}
.type__block-lr .right {
  width: 50%;
}
.type__block-lr .btn__container {
  margin-top: 40px;
  padding-bottom: 40px;
}
.type__block-lr .descr {
  margin-top: 20px;
}

.team .bottom .img {
  margin-top: 40px;
}

#advantages {
  transform: translate(-30%, -50%);
  gap: 60px;
}

.grdi-2__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.grid-2__item {
  display: grid;
  grid-column: 6 span;
  background: #fff;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
.grid-2__item .descr {
  margin-top: 20px;
}
.grid-2__item .btn__container {
  margin-top: 40px;
}
.grid-2__item .text__container {
  padding: 0 40px 40px 40px;
}

.form__container {
  display: flex;
  justify-content: space-between;
  background-color: #10172D;
  border-radius: 0 0 50px 50px;
  text-align: center;
}
.form__container .header-1 {
  color: #F2F3F4;
}
.form__container .descr {
  color: #F2F3F4;
}

.form__left {
  width: 50%;
  padding: 40px;
  text-align: left;
}

.form__right {
  width: 50%;
}

.form-white .header-1 {
  color: #10172D;
}
.form-white .input {
  color: #10172D;
}
.form-white .descr {
  color: #10172D;
}

.input__group {
  margin-top: 74px;
}

.input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 36px;
  padding: 18px 10px;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 22px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #F2F3F4;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
}

.input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  color: rgba(128, 128, 128, 0.55);
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  color: rgba(128, 128, 128, 0.55);
}

.form__btn {
  font-family: "Inter", sans-serif;
  border: 2px solid #10172D;
  margin-top: 74px;
  background: #F2F3F4;
  color: #10172D;
  width: 100%;
  display: block;
  box-shadow: 0px 4px 12.4px 0px rgba(0, 0, 0, 0.25);
}
.form__btn:hover {
  background: #fff;
}

.form__left .checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.form__left .checkbox-label .descr {
  margin-top: 0;
}

.checkbox__container {
  display: flex;
  align-items: center;
  margin-top: 74px;
}
.checkbox__container .descr {
  margin-left: 20px;
}

.privacy__link {
  color: #F2F3F4;
}
.privacy__link span {
  border-bottom: 1px solid #F2F3F4;
}
.privacy__link span:hover {
  font-weight: 400;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Убирает стрелки в Firefox */
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* Убирает стрелки в Chrome, Safari, Edge, Opera */
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  /* Универсальное скрытие */
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Убираем стандартный чекбокс */
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  /* Делаем чекбокс круглым */
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: background 0.2s ease-in-out;
}

input[type=checkbox]:checked {
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}

.close-icon {
  cursor: pointer;
}
.close-icon:hover {
  transform: scale(1.2);
  padding: 2px;
}

.choise-popup .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.choise-popup .top .descr {
  color: #F2F3F4;
  width: 20%;
  text-align: right;
}
.choise-popup .top .header-1 {
  color: #F2F3F4;
}
.choise-popup .type__block-lr {
  margin-top: 40px;
  position: relative;
}
.choise-popup .type__block-lr .left {
  background: #F2F3F4;
  border-radius: 0 0 0 50px;
}
.choise-popup .type__block-lr .right {
  position: relative;
}
.choise-popup .type__block-lr .right .btn__container {
  position: absolute;
  width: 90%;
  bottom: 0;
}
.choise-popup .type__block-lr .right .btn__container .btn {
  position: relative;
  background: #F2F3F4;
  color: #10172D;
  left: 56%;
  transform: translateX(-50%);
}
.choise-popup .type__block-lr .steps {
  display: flex;
}
.choise-popup .popup__container.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.choise-popup .popup__container {
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choise-popup .popup__container .left {
  padding: 40px;
}
.choise-popup .fullscr {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease;
  overflow: hidden;
}
.choise-popup .popup__container.fullscreen {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: #10172D;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choise-popup .step {
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  visibility: hidden;
}
.choise-popup .step .left {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choise-popup .step .right {
  position: relative;
}
.choise-popup .step .close-icon {
  top: 6%;
  right: 4%;
  width: 18px;
  height: 18px;
  position: absolute;
}
.choise-popup .step.active {
  width: 100vw;
  height: 80vh;
  opacity: 1;
  transition: opacity 0.4s ease;
  visibility: visible;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.choise-popup .step.active .form__container {
  width: 100%;
  overflow: hidden;
}
.choise-popup .btn-controls {
  align-items: center;
  justify-content: space-between;
}
.choise-popup .input__containers {
  display: flex;
  flex-direction: column;
}
.choise-popup .input__containers label {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #10172D;
  font-weight: 300;
  padding-bottom: 20px;
}
.choise-popup .btn-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choise-popup .btn-grey {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(128, 128, 128, 0.55);
}
.choise-popup #step3 .form__left {
  border-radius: 0 0 0 50px;
}
.choise-popup #step3 .header-1 {
  color: #10172D;
}
.choise-popup #step3 .descr {
  color: #10172D;
}
.choise-popup #step3 input {
  border: 1px solid #10172D;
  color: #10172D;
  font-family: "Inter", sans-serif;
  outline: none;
}
.choise-popup #step3 span {
  color: #10172D;
  border-bottom: 1px solid #10172D;
}
.choise-popup #step3 .checkbox__container .descr {
  margin-top: 0;
}
.choise-popup #step3 .form__btn {
  background: #10172D;
  color: #F2F3F4;
}
.choise-popup #step3 input[type=checkbox]:checked {
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='darkblue'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}

.pop-close-icon .step .close-icon {
  top: 16%;
}

.form__left .descr {
  margin-top: 20px;
}

.rating .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.rating .top .descr {
  display: flex;
  align-items: center;
  text-wrap: balance;
}
.rating .descr {
  color: #F2F3F4;
}
.rating .descr a {
  color: #F2F3F4;
  padding-right: 10px;
  text-decoration: underline;
}
.rating .header-1 {
  color: #F2F3F4;
  width: 85%;
}

.grid-4__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  margin-top: 40px;
}

.grid-4__item {
  display: grid;
  grid-column: 3 span;
  border: 1px solid #F2F3F4;
  padding: 40px;
}
.grid-4__item svg {
  margin: 20px 0;
}
.grid-4__item .descr {
  text-wrap: balance;
}

.invest .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.invest .top .descr {
  color: #F2F3F4;
  text-align: right;
}
.invest .top .header-1 {
  color: #F2F3F4;
  width: 85%;
}
.invest .grid-2__item {
  overflow: hidden;
  display: block;
  border-radius: 50px;
  position: relative;
}
.invest .grid-2__item .text-block {
  padding: 40px;
}
.invest .text-right {
  margin-top: 20px;
}
.invest .text-right a {
  color: #F2F3F4;
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.swiper-slide {
  position: relative;
}
.swiper-slide .metro-block {
  display: flex;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 40px;
}
.swiper-slide .metro-block .descr {
  margin-left: 40px;
  color: #F2F3F4;
  font-size: 16px;
}
.swiper-slide .metro-block::before {
  content: "";
  position: absolute;
  margin-right: 50px;
  background: url(../img/metro.svg) no-repeat;
  top: 40%;
  left: 0;
  width: 32px;
  height: 32px;
  z-index: 20;
}

.grid-2__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  margin-top: 40px;
}

.type-indiv .bottom {
  margin-top: 40px;
  position: relative;
}
.type-indiv .swiper-wrapper {
  border-radius: 0;
}
.type-indiv .descr {
  color: #F2F3F4;
}
.type-indiv .metro-block {
  display: flex;
  align-items: center;
}
.type-indiv .metro-block .descr {
  margin-left: 10px;
}
.type-indiv .swiper__btn-container {
  top: 50%;
}
.type-indiv .text-block .descr {
  font-size: 16px;
  width: 40%;
  margin-top: 20px;
}
.type-indiv .bottom-block {
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper-button-lock {
  display: block;
}

.arrow-left {
  transform: rotate(180deg);
  width: 60px;
  height: 60px;
  margin-left: 40px;
  opacity: 0;
  transition: 0.3s all ease;
}

.arrow-right {
  width: 60px;
  height: 60px;
  margin-right: 40px;
  opacity: 0;
  transition: 0.3s all ease;
}

.swiper:hover .arrow-left,
.swiper:hover .arrow-right {
  opacity: 1;
  transition: 0.3s all ease;
}

.swiper-wrapper {
  position: relative;
}

.swiper__btn-container {
  position: absolute;
  top: 50%;
  width: 100%;
}

.faq .header-2 {
  color: #F2F3F4;
}
.faq .header-3 {
  color: #F2F3F4;
}
.faq .descr {
  color: #F2F3F4;
  font-size: 16px;
}

.add-info__list {
  margin-top: 40px;
}

.info__item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.info__item .top svg {
  transform: rotate(-90deg);
  width: 18px;
  height: 18px;
  transition: transform 0.7s ease;
  stroke: #fff;
  margin-left: 15px;
}
.info__item .top svg.active {
  transform: rotate(90deg);
  transition: transform 0.7s ease;
}
.info__item .top::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #F2F3F4;
  top: 110%;
  left: 0;
  width: 100%;
}
.info__item .bottom {
  margin-top: 40px;
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  padding: 5px 0;
  transform: translateY(-100%);
  transition: transform 0.7s ease;
  margin-bottom: 0;
}
.info__item .bottom.active {
  opacity: 1;
  height: auto;
  width: auto;
  visibility: visible;
  transition: transform 0.7s ease;
  transform: translateY(-50%);
  margin-bottom: 5px;
}

.news .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.news .top a {
  color: #F2F3F4;
  text-decoration: underline;
}
.news .header-1 {
  color: #F2F3F4;
}
.news .left,
.news .right {
  background: #F2F3F4;
}
.news .grdi-2__list {
  margin-top: 40px;
}
.news .grid-2__item {
  display: grid;
  align-content: stretch;
  overflow: hidden;
}
.news .grid-2__item .img {
  height: 200px;
}
.news .text__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .text__container .text:nth-child(2) {
  margin-top: -40px;
}
.news .bottom .descr {
  margin-top: 20px;
  color: #F2F3F4;
}

.contacts-white .form__container {
  background: #F2F3F4;
  overflow: hidden;
}
.contacts-white input {
  border: 1px solid #10172D;
}
.contacts-white span {
  color: #10172D;
}
.contacts-white a {
  color: #10172D;
}
.contacts-white .checkbox__container .descr {
  color: #10172D;
  margin-top: 0;
}
.contacts-white .btn {
  background: #10172D;
  color: white;
}
.contacts-white .checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='darkblue'/%3E%3C/svg%3E");
}

.mb-100 {
  margin-bottom: 100px;
}

.footer {
  padding: 40px 0;
  background-color: #F2F3F4;
  color: #10172D;
  text-align: center;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
}
.footer a {
  color: #10172D;
}
.footer a:hover {
  color: #39425E;
}
.footer .top {
  display: flex;
  justify-content: start;
}
.footer .center {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer .grid-3__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  margin-top: 40px;
}
.footer .grid-3__item {
  display: grid;
  grid-column: 4 span;
  text-align: left;
}
.footer .right .descr {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 40px;
}
.footer .bottom .left {
  text-align: left;
}
.footer .bottom .left .descr {
  font-size: 16px;
}
.footer .bottom .right svg:nth-child(1) {
  margin-right: 20px;
}
.footer .bottom .right .descr {
  font-size: 14px;
  margin-top: 40px;
  padding: 0;
}

.about .header-2 {
  color: #F2F3F4;
  margin-top: 0;
}
.about .descr {
  color: #F2F3F4;
}
.about .btn__container {
  margin-top: 186px;
}
.about .btn {
  background: #F2F3F4;
  color: #10172D;
}
.about .btn:hover {
  background: #fff;
}

.about-partners .header-1 {
  color: #F2F3F4;
  text-wrap: nowrap;
}

.type-indiv {
  margin-top: 40px;
}
.type-indiv .bottom-block .right {
  display: flex;
  justify-content: right;
  margin-top: -80px;
}
.type-indiv .bottom-block .right .descr {
  border-radius: 50px;
  background: rgba(242, 243, 244, 0.9);
  padding: 10px;
  color: #10172D;
  font-size: 16px;
}
.type-indiv .bottom-block .right .descr:first-child {
  margin-right: 20px;
}
.type-indiv .bottom-block .right .descr:last-child {
  margin-right: 40px;
}

.bg-white {
  background: #F2F3F4;
}

.grey-color {
  color: rgba(128, 128, 128, 0.55);
}

.shema .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.shema .top .descr {
  color: #F2F3F4;
  width: 71%;
  text-align: right;
  font-size: 16px;
  padding-left: 20px;
  text-wrap: balance;
}
.shema .top .header-2 {
  color: #F2F3F4;
}
.shema .grid-2__item {
  border-radius: 50px;
  padding-top: 40px;
}
.shema .grid-2__item .img {
  height: 100%;
}
.shema .grid-2__item .text__container {
  padding: 0 40px;
}
.shema .grid-2__item .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shema .grid-2__item .text .descr {
  font-size: 24px;
}
.shema .grid-2__item .btn__container {
  background: rgba(0, 0, 0, 0.12);
  padding: 40px;
}

.map .header-2 {
  color: #F2F3F4;
}
.map .map__container {
  margin-top: 40px;
}

.artical__content .header-3 {
  color: #F2F3F4;
  margin: 40px 0;
}

.vtorichka-main .top .header-2 {
  width: 51%;
  text-wrap: balance;
}
.vtorichka-main .top .descr {
  width: 53%;
}
.vtorichka-main .grid-2__item {
  grid-column: 12 span;
  display: flex;
  padding-top: 0;
}
.vtorichka-main .grid-2__item .text__container {
  padding: 0;
}
.vtorichka-main .left {
  width: 50%;
}
.vtorichka-main .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
.vtorichka-main .right .btn__container {
  background: none;
  padding: 0;
}
.vtorichka-main .right .text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vtorichka-main .right .text .descr {
  font-size: 20px;
  font-weight: 400;
}
.vtorichka-main .right .text .center__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.vtorichka-main .right .text .center__block .left {
  width: 50%;
}
.vtorichka-main .right .text .center__block .right {
  width: 50%;
}

.privacy .descr {
  color: #F2F3F4;
  font-size: 16px;
}
.privacy .header-2 {
  color: #F2F3F4;
}
.privacy .header-3 {
  color: #F2F3F4;
  margin: 40px 0;
}
.privacy .link {
  color: rgb(52, 199, 89);
}

.privacy__table {
  color: #F2F3F4;
  font-family: "Inter", sans-serif;
  border-collapse: collapse;
}
.privacy__table td {
  border: 1px solid #F2F3F4;
  padding: 25px;
}
.privacy__table li {
  margin-left: 10px;
  list-style: disc;
}

.artical__main {
  position: relative;
}
.artical__main .header-1 {
  color: #F2F3F4;
  position: absolute;
  bottom: 60px;
  left: 56px;
  width: 80%;
}

.artical__content .descr {
  color: #F2F3F4;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.contacts__main {
  background: #F2F3F4;
  padding: 40px;
  border-radius: 50px;
  min-height: 60vh;
}
.contacts__main .header-3 {
  font-size: 20px;
}
.contacts__main .top {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.contacts__main .top .left {
  width: 60%;
}
.contacts__main .top .right {
  width: 24%;
}
.contacts__main .descr {
  margin-top: 20px;
}
.contacts__main .grid-4__item {
  background: #fff;
  border-radius: 50px;
  padding: 30px;
}
.contacts__main .social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__main .social-icon-container a:first-child {
  margin-right: 60px;
}
.contacts__main .map-container {
  margin-top: 40px;
}

.err__main {
  position: relative;
}
.err__main .header-1 {
  color: #F2F3F4;
}
.err__main .descr {
  color: #F2F3F4;
  width: 30%;
  text-align: right;
  text-wrap: balance;
}
.err__main .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.err__main .img {
  margin-top: 40px;
}
.err__main .btn__container {
  margin: -60px 0 40px 40px;
  position: relative;
  z-index: 5;
  display: block;
  width: 30%;
}
.err__main .btn__container .btn {
  z-index: 6;
  position: relative;
  background: #F2F3F4;
  color: #10172D;
}/*# sourceMappingURL=style.css.map */