@import 'default.scss';

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

$font-color: #10172D;
$hover: #39425E;
$white: #F2F3F4;
$hover-white: rgba(255, 255, 255, 1);
$bg-grey: rgba(0, 0, 0, 0.12);
$grey-text: rgba(128, 128, 128, 0.55);
$green: rgba(52, 199, 89, 1);




$heading1-font-size: 80px;
$heading2-font-size: 64px;
$heading3-font-size: 24px;
$descr-font-size: 14px;

$mtsection-100: 100px;
$mtsection-200: 200px;
$mtmiddle-margin-top: 74px;
$mtheader-margin-top: 40px;
$mtdescr-margin-top: 20px;

$radius: 0 0 50px 50px;

$transition: 0.3s all ease;
$transition-opacity: opacity 0.4s ease;


.header-1 {
    font-size: $heading1-font-size;
    font-weight: 400;
    font-family: 'Cormorant', sans-serif;
    color: $font-color;
    line-height: 64px;
}

.header-2 {
    font-size: $heading2-font-size;
    line-height: 51px;
    font-weight: 400;
    font-family: 'Cormorant', sans-serif;
    margin-top: $mtheader-margin-top;
    color: $font-color;
}

.header-3 {
    font-size: $heading3-font-size;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: $font-color;
}


.descr {
    font-size: $descr-font-size;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: $font-color;
}

.text-bold {
    font-weight: 500;
}

.section-100 {
    margin-top: $mtsection-100;
}

.section-200 {
    margin-top: $mtsection-200;
}



a {
    color: $font-color;
}

.blue-bg {
    background-color: $font-color;
    padding-bottom: 100px;
}


.btn {
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 15px 16px;
    background-color: $font-color;
    color: $white;
    font-size: 14px;
    transition: all .3s ease;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: 0px 4px 12.4px 0px rgba(0, 0, 0, 0.25);

}

.btn:hover {
    transition: all .3s ease;
    background-color: $hover;
}


.container {
    padding: 0 100px; //100px
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}


.img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.close {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease;
}

.burger {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease;
}

.close.active {
    opacity: 1;
    width: 42px;
    height: 28px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.burger.active {
    opacity: 1;
    width: 42px;
    height: 28px;
    transition: all 0.5s ease;
    cursor: pointer;
}


//ANIM
.anim__show {
    transform: translate(0px, 10%);
    opacity: 0;
    transition: all 0.5s ease;
}

.anim__show.active,
.active .anim__show {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.5s ease;
}

body {
    background: $font-color;
}

html {
    scroll-behavior: smooth;
}

.white-bg {
    background-color: $white;
    padding-bottom: 100px;
}

//HEADER


.header.active {
    padding: 28px 0;
    min-height: 87px;
    border-radius: $radius;
    overflow: hidden;
    background: $white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 1;
    height: 87px;
    z-index: 20;
}

.header {
    opacity: 0;
    height: 0;
    width: 0;
    transition: $transition-opacity;
}

.header.h-height {
    height: auto !important;
    ;
}

.nav__mob {
    display: none;
}

.burger__container {
    display: block;
}

.header__container {
    display: flex;
    flex-direction: column;


    .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header__right {
            display: flex;
            align-items: center;

            .header__social {
                display: flex;
                align-items: center;

                .descr {
                    font-weight: 400;
                    font-size: 20px;
                }

                a {

                    padding-right: 20px;
                    fill: $font-color;

                    &:hover {
                        color: $hover;
                    }
                }


            }

            svg:hover {
                fill: $hover;
            }
        }
    }

}

.header__bottom {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $mtdescr-margin-top;

    .right__block {
        text-align: right;

        a {
            .descr {
                margin-top: 18px;
            }
        }
    }
}

.header__bottom.active {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
}


.nav__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.nav__item {

    grid-column: 4 span;

    .nav__link {
        font-family: 'Inter', sans-serif;
        font-size: $descr-font-size;
        font-weight: 300;

        &:hover {
            color: $hover;
            transition: $transition;
        }
    }
}

.box-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-relative {
    position: relative;
    height: 90vh;
}

.type-main {
    height: 80vh;
}

.height-80 {
    height: auto;
}

//MAIN



.main {
    padding-top: 130px;
    color: $white;

    .top {
        display: flex;
        align-items: end;

        .header-1 {
            line-height: 64px;
            color: $white;
        }

        .descr {
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            text-wrap: balance;
            width: 60%;
            color: $white;
        }
    }

    .img {
        margin-top: $mtheader-margin-top;
    }
}

//scroll partners

.scroll__partners {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.partners__container {
    position: relative;
    top: 50%;
    left: auto;
    transform: translate(20%, 0%);
    display: flex;
    align-items: end;
    gap: 100px;
    transition: transform 0.5s ease-out;


    .partners__img {
        width: 220px;
        height: 50px;
        object-fit: contain;
    }
}

.line-height {
    .header-1 {
        margin-top: -15px;
        line-height: normal;
    }
}

//catalog

.catalog {

    .header-1 {
        margin-top: $mtheader-margin-top;
    }

    .type__block-lr {
        margin-top: $mtheader-margin-top;
        padding-bottom: 0;
    }

    .descr {
        text-align: right;
        color: $white;
        margin-top: $mtdescr-margin-top;
    }
}

.type__block-lr {
    display: flex;
    border-radius: $radius;
    overflow: hidden;

    .descr {
        text-align: left;
        color: $font-color;
        margin-top: $mtdescr-margin-top;
    }

    .left {
        width: 50%;
        padding: 0 64px 0 40px;
    }

    .right {
        width: 50%;

    }

    .btn__container {
        margin-top: $mtheader-margin-top;
        padding-bottom: 40px;
    }

    .descr {
        margin-top: $mtdescr-margin-top;
    }
}

//team 

.team {
    .box-relative {
        margin-top: $mtheader-margin-top;
    }
}

//advantages

#advantages {
    transform: translate(60%, 0%);
    gap: 60px;
}


//help

.help {
    .header-1 {
        color: $white;
        margin-top: 0;
    }
}


.grdi-2__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: $mtheader-margin-top;
}

.grid-2__item {
    display: grid;
    grid-column: 6 span;
    background: #fff;
    border-radius: $radius;
    overflow: hidden;


    .descr {
        margin-top: $mtdescr-margin-top;
    }

    .btn__container {

        margin-top: $mtheader-margin-top;
    }

    .text__container {
        padding: 0 40px 40px 40px;
    }
}

//FORM

.form__container {
    display: flex;
    justify-content: space-between;
    background-color: $font-color;
    border-radius: $radius;
    text-align: center;

    .header-1 {
        color: $white;
    }

    .descr {
        color: $white;
    }
}

.form__left {
    width: 53%;
    padding: 40px;
    text-align: left;
}

.form__right {
    width: 50%;
    position: relative;
}

.form-white {
    .header-1 {
        color: $font-color;
    }

    .input {
        color: $font-color;
        border: 1px solid $font-color;
    }

    .descr {
        color: $font-color;
    }

    .form__left {
        background: $white;
    }

    .privacy__link {
        color: $font-color;
        text-decoration: underline;
    }

    input[type=checkbox] {
        border: 1px solid $font-color;
        background: transparent;
    }

    .checkbox:checked {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='darkblue'/%3E%3C/svg%3E");
    }

    .form__btn {
        background: $font-color;
        color: $white;
    }

}

.input__group {
    margin-top: $mtheader-margin-top;
}

.input {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 36px;
    padding: 17px 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 22px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
}

.input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: $grey-text;
}

.form__btn {
    font-family: 'Inter', sans-serif;
    border: 1px solid $font-color;
    margin-top: $mtheader-margin-top;
    background: $white;
    color: $font-color;
    width: 100%;
    display: block;
    box-shadow: 0px 4px 12.4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        background: #fff;
    }
}

.form__left {



    .checkbox-label {
        display: flex;
        align-items: center;
        margin-top: 0;

        .descr {
            margin-top: 0;
        }
    }
}

.checkbox__container {
    display: flex;
    align-items: center;
    margin-top: $mtheader-margin-top;

    .descr {
        margin-left: 20px;

    }
}

.privacy__link {
    color: $white;

    span {
        border-bottom: 1px solid $white;
    }

    span:hover {
        font-weight: 400;
    }
}

//скрытие дефолтных стилей у input
input[type="number"] {
    -moz-appearance: textfield;
    /* Убирает стрелки в Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Убирает стрелки в Chrome, Safari, Edge, Opera */
}

input[type="number"] {
    appearance: textfield;
    /* Универсальное скрытие */
}

input[type="checkbox"] {
    appearance: none;
    /* Убираем стандартный чекбокс */
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
    /* Делаем чекбокс круглым */
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
}


//CHOICE popup

.close-icon {
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        padding: 2px;
    }
}

.choise-popup {
    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        .descr {
            color: $white;
            width: 20%;
            text-align: right;
        }


        .header-1 {
            color: $white;
        }
    }

    .type__block-lr {
        margin-top: $mtheader-margin-top;
        position: relative;

        .left {
            background: $white;
            border-radius: 0 0 0 50px;
        }

        .right {
            position: relative;

            .btn__container {
                position: absolute;
                width: 90%;
                bottom: 0;


                .btn {
                    position: relative;
                    background: $white;
                    color: $font-color;
                    left: 56%;
                    transform: translateX(-50%);

                }
            }
        }

        .steps {
            display: flex;
        }
    }


    .popup__container.active {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: $transition-opacity;
    }

    .popup__container {
        width: 0;
        height: 0;
        opacity: 0;
        transition: $transition-opacity;

        .left {
            padding: 40px;
        }
    }


    .fullscr {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
        transition: $transition-opacity;
        overflow: hidden;
    }

    .popup__container.fullscreen {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        background-color: $font-color;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .step {
        width: 0;
        height: 0;
        opacity: 0;
        transition: $transition-opacity;
        display: flex;
        visibility: hidden;

        .left {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 53%;
            text-wrap: balance;
        }

        .right {
            position: relative;
        }

        .close-icon {
            top: 6%;
            right: 4%;
            width: 18px;
            height: 18px;
            position: absolute;
        }
    }

    .step.active {
        width: 86vw;
        height: auto;
        opacity: 1;
        transition: $transition-opacity;
        visibility: visible;
        display: flex; //был display block возможно на что-то влияет


        .form__container {
            width: 100%;
            overflow: hidden;
        }

    }

    .btn-controls {
        align-items: center;
        justify-content: space-between;
    }


    .input__containers {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            color: $font-color;
            font-weight: 300;
            padding-bottom: 20px;
        }
    }

    .btn-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .btn-grey {
        background-color: $bg-grey;
        color: $grey-text;
    }

    #step3 {

        .form__left {
            border-radius: 0 0 0 50px;
        }

        .header-1 {
            color: $font-color;
        }

        .descr {
            color: $font-color;
        }

        input {
            border: 1px solid $font-color;
            color: $font-color;
            font-family: "Inter", sans-serif;
            outline: none;
        }



        span {
            color: $font-color;
            border-bottom: 1px solid $font-color;
        }

        .checkbox__container {
            .descr {
                margin-top: 0;
            }
        }

        .form__btn {
            background: $font-color;
            color: $white;
        }

        input[type="checkbox"]:checked {
            background: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='darkblue'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 35px;
            background-position: center;
        }
    }

}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__left {
    .descr {
        margin-top: $mtdescr-margin-top;
    }
}

.overflow {
    overflow: visible;
}


//RATING

.rating {

    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        .descr {
            display: flex;
            align-items: center;
            text-wrap: balance;
        }
    }

    .descr {
        a {
            color: $white;
            padding-right: 10px;
            text-decoration: underline;
        }

        color: $white;
    }

    .header-1 {
        color: $white;
        width: 85%;
    }
}

.grid-4__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: $mtheader-margin-top;
}

.grid-4__item {
    display: grid;
    grid-column: 3 span;
    border: 1px solid $white;
    padding: 40px;

    svg {
        margin: 20px 0;
    }

    .descr {
        text-wrap: balance;
    }
}


//Invest

.invest {

    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        .descr {
            color: $white;
            text-align: right;
        }

        .header-1 {
            color: $white;
            width: 85%;
        }
    }


    .grid-2__item {
        overflow: hidden;
        display: block;
        border-radius: 50px;
        position: relative;

        .text-block {
            padding: 40px;
        }
    }


    .text-right {

        margin-top: $mtdescr-margin-top;


        a {
            color: $white;
            text-decoration: underline;

        }
    }

}

.invest-page {
    .header-1 {
        color: $white;
        margin-top: 0;
    }

    .descr {
        color: $white;
    }

    .item {
        list-style: disc;
        color: $white;
        margin-left: 15px;
    }

    .type__block-lr {
        border-radius: 0;

        .left {
            padding: 0;
            padding-right: 40px;
        }
    }


}

.help {
    .grid-2__item {
        display: flex;
        flex-direction: column;

        .img {
            height: 250px;
        }
    }
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


.text-right {
    text-align: right;
}

.swiper {
    .metro-block {
        display: flex;
        align-items: center;
        position: absolute;
        top: 80%;
        left: 40px;
        z-index: 10;

        .descr {
            margin-left: 40px;
            color: $white;
            font-size: 16px;
        }
    }



    .metro-block::before {
        content: '';
        position: absolute;
        margin-right: 50px;
        background: url(../img/metro.svg)no-repeat;
        top: 40%;
        left: 0;
        width: 32px;
        height: 32px;
        z-index: 20;
    }
}

.swiper-slide {
    position: relative;



}

.grid-2__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: $mtheader-margin-top;
}


.type-indiv {

    .swiper {
        height: 70vh;
    }

    .bottom {
        margin-top: $mtheader-margin-top;
        position: relative;
    }

    .swiper-wrapper {
        border-radius: 0;
    }

    .descr {
        color: $white;
    }

    .metro-block {
        display: flex;
        align-items: center;

        .descr {
            margin-left: 10px;
        }
    }

    .swiper__btn-container {
        top: 50%;
    }

    .text-block {
        .descr {
            font-size: 16px;
            width: 40%;
            margin-top: $mtdescr-margin-top;
        }
    }

    .bottom-block {
        position: absolute;
        bottom: 40px;
        right: 0;
        z-index: 5;
    }

}



//swiper

.swiper-button-lock {
    display: block;
}

.arrow-left {
    transform: rotate(180deg);
    width: 60px;
    height: 60px;
    margin-left: $mtheader-margin-top;
    opacity: 0;
    transition: $transition;
}

.arrow-right {
    width: 60px;
    height: 60px;
    margin-right: $mtheader-margin-top;
    opacity: 0;
    transition: $transition;
}

.swiper {
    &:hover {

        .arrow-left,
        .arrow-right {
            opacity: 1;
            transition: $transition;
        }
    }
}

.swiper-wrapper {
    position: relative;
}

.swiper__btn-container {
    position: absolute;
    top: 50%;
    width: 100%;


}

//ACCORDEON faq

.faq {
    .header-2 {
        color: $white;
    }

    .header-3 {
        padding-bottom: 15px;
        color: $white;
    }

    .descr {
        color: $white;
        font-size: 16px;
    }



}

.add-info__list {
    margin-top: $mtheader-margin-top;
}

.info__item {

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;

        svg {
            transform: rotate(-90deg);
            width: 18px;
            height: 18px;
            transition: transform 0.7s ease;
            stroke: #fff;
            margin-left: 15px;
        }

        svg.active {
            transform: rotate(90deg);
            transition: transform 0.7s ease;
        }
    }

    .top::before {
        position: absolute;
        content: '';
        border-bottom: 1px solid $white;
        top: 110%;
        left: 0;
        width: 100%;
    }

    .bottom {
        margin-top: $mtheader-margin-top;
        opacity: 0;
        height: 0;
        width: 0;
        visibility: hidden;
        padding: 5px 0;
        transform: translateY(-100%);
        transition: transform 0.7s ease;
        margin-bottom: 0;
    }

    .bottom.active {
        opacity: 1;
        height: auto;
        width: auto;
        visibility: visible;
        transition: transform 0.7s ease;
        transform: translateY(-50%);
        margin-bottom: 5px;
    }
}

.news {

    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .header-1 {
        color: $white;
    }

    .left,
    .right {
        background: $white;
    }

    .grdi-2__list {
        margin-top: $mtheader-margin-top;
    }

    .grid-2__item {
        display: grid;
        align-content: stretch;
        overflow: hidden;

        .img {
            height: 200px;
        }
    }

    .text__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text:nth-child(2) {
            margin-top: -40px;
        }
    }

    .bottom {
        .descr {
            margin-top: $mtdescr-margin-top;
            color: $white;
        }
    }

}

.contacts-white {
    .form__container {
        background: $white;
        overflow: hidden;
    }

    input {
        border: 1px solid $font-color;
    }

    span {
        color: $font-color;
    }

    a {
        color: $font-color;
    }

    .checkbox__container {
        .descr {
            color: $font-color;
            margin-top: 0;
        }
    }


    .btn {
        background: $font-color;
        color: white;
    }

    .checkbox:checked {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2310172D'/%3E%3Cpath d='M13.3994 7.64474C13.4283 7.67392 13.4511 7.70851 13.4666 7.74653C13.4821 7.78454 13.49 7.82524 13.4897 7.8663C13.4895 7.90735 13.4812 7.94796 13.4652 7.9858C13.4493 8.02364 13.4261 8.05796 13.3969 8.08682L8.76146 12.6702C8.70325 12.7277 8.6248 12.7601 8.54295 12.7604C8.4611 12.7607 8.3824 12.7289 8.32375 12.6718L6.39667 10.7968C6.36675 10.7683 6.34277 10.7342 6.32614 10.6964C6.3095 10.6585 6.30053 10.6178 6.29974 10.5765C6.29895 10.5352 6.30637 10.4941 6.32155 10.4557C6.33674 10.4172 6.3594 10.3822 6.38821 10.3526C6.41703 10.323 6.45143 10.2994 6.48943 10.2831C6.52743 10.2669 6.56827 10.2584 6.60959 10.258C6.65091 10.2577 6.69188 10.2655 6.73015 10.2811C6.76841 10.2967 6.8032 10.3198 6.8325 10.3489L8.54 12.0102L12.9573 7.64224C12.9865 7.61336 13.0211 7.59052 13.0591 7.57502C13.0971 7.55951 13.1378 7.55165 13.1789 7.55188C13.2199 7.55212 13.2605 7.56044 13.2984 7.57637C13.3362 7.5923 13.3705 7.61553 13.3994 7.64474Z' fill='darkblue'/%3E%3C/svg%3E");
    }
}

.mb-100 {
    margin-bottom: 100px;
}

//FOOTER

.footer {
    padding: 100px 0;
    background-color: $white;
    color: $font-color;
    text-align: center;
    border-radius: 50px 50px 0 0;
    margin-top: 100px;

    .img {
        object-fit: contain;
    }

    a {
        color: $font-color;
        ;

    }

    a:hover {
        color: $hover;
    }

    .top {
        display: flex;
        justify-content: start;

        .left {
            width: 50%;
            text-align: left;
        }

        .right {
            width: 50%;
            text-align: right;
        }
    }

    .center {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: $mtheader-margin-top;
    }

    .grid-3__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }

    .grid-3__item {
        display: grid;
        grid-column: 4 span;
        text-align: left;
    }

    .right {
        .descr:first-child {
            font-weight: 400;
            font-size: 20px;
            padding-bottom: 20px;
        }

        .descr {
            font-weight: 400;
            font-size: 20px;
        }




    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: $mtheader-margin-top;

        .left {
            text-align: left;

            .descr {
                font-size: 16px;
            }
        }

        .right {
            svg:nth-child(1) {
                margin-right: 20px;
            }

            .descr {
                font-size: 14px;
                margin-top: $mtheader-margin-top;
                padding: 0;
            }
        }
    }

}


//стили доп страницы

.about {
    .header-2 {
        color: $white;
        margin-top: 0;
    }

    .descr {
        color: $white;
    }


    .btn__container {
        margin-top: 186px;
    }

    .btn {
        background: $white;
        color: $font-color;

        &:hover {
            background: #fff;
        }
    }

    .type__block-lr {
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .btn__container {
            padding-bottom: 0;
        }
    }
}

.about-partners {
    .header-1 {
        color: $white;
        text-wrap: nowrap;
    }


}

//типовой блок новостройки типа cytizen 

.type-indiv {

    margin-top: $mtheader-margin-top;

    .bottom-block {
        .right {
            display: flex;
            justify-content: right;

            .descr {
                border-radius: 50px;
                background: rgba(242, 243, 244, 0.9);
                padding: 10px;
                color: $font-color;
                font-size: 16px;
            }

            .descr {
                margin-right: 20px;
            }

            .descr:last-child {
                margin-right: 40px;
            }
        }
    }

    .left__icon {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 5;
    }
}

.section-40 {
    margin-top: $mtheader-margin-top;
}

.bg-white {
    background: $white;

}

.grey-color {
    color: $grey-text;
}

.shema {
    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        .descr {
            color: $white;
            width: 71%;
            text-align: right;
            font-size: 16px;
            padding-left: 20px;
            text-wrap: balance;
        }

        .header-2 {
            color: $white;
            margin-top: 0;
        }
    }

    .grid-2__item {
        border-radius: 50px;
        padding-top: 40px;

        .img {
            height: 100%;
        }

        .text__container {
            padding: 0 40px;
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .descr {
                font-size: 24px;
            }

        }

        .btn__container {
            background: $bg-grey;
            padding: 40px;
        }
    }
}

.map {
    .header-2 {
        color: $white;
    }

    .map__container {
        margin-top: $mtheader-margin-top;
    }
}

.artical__content {
    .header-3 {
        color: $white;
        margin: 40px 0;
    }
}

//вторичка

.vtorichka-main {
    .top {
        .header-2 {
            width: 51%;
            text-wrap: balance;
            margin-top: 0;
        }

        .descr {
            width: 53%;

        }
    }



    .grid-2__item {
        grid-column: 12 span;
        display: flex;
        padding-top: 0;

        .text__container {
            padding: 0;
        }
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;



        .btn__container {
            background: none;
            padding: 0;
        }
    }



    .right {
        .text {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .descr {
                font-size: 20px;
                font-weight: 400;
            }

            .center__block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .left {
                    width: 50%;
                }

                .right {
                    width: 50%;
                }
            }
        }
    }
}

.privacy {
    .descr {
        color: $white;
        font-size: 16px;
    }

    .header-2 {
        color: $white;
    }

    .header-3 {
        color: $white;
        margin: 40px 0;
    }

    .link {
        color: $green;
    }
}

.privacy__table {
    color: $white;
    font-family: 'Inter', sans-serif;

    border-collapse: collapse;

    td {
        border: 1px solid $white;
        padding: 25px;

    }

    li {
        margin-left: 10px;
        list-style: disc;
    }
}


.artical__main {
    position: relative;
    height: 80vh;

    .header-1 {
        color: $white;
        position: absolute;
        bottom: 60px;
        left: 56px;
        width: 80%;
    }
}

.artical__content {
    .descr {
        color: $white;
        margin-top: $mtdescr-margin-top;
        font-size: 16px;
        font-weight: 300;
    }
}


//Контакты 

.contacts-page {
    margin-top: 120px;

    .header-1 {

        color: $white;
    }
}

.contacts__main {
    background: $white;
    padding: 40px;
    border-radius: 50px;
    min-height: 60vh;
    margin-top: $mtheader-margin-top;

    .header-3 {
        font-size: 20px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left {
            width: 60%;
        }

        .right {
            width: 24%;
        }
    }

    .descr {
        margin-top: $mtdescr-margin-top;
    }

    .grid-4__item {
        background: #fff;
        border-radius: 50px;
        padding: 30px;
    }

    .social-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a:first-child {
            margin-right: 60px;
        }
    }

    .map-container {
        margin-top: $mtheader-margin-top;
    }
}

.err__main {
    position: relative;
    margin-top: $mtheader-margin-top;

    .header-1 {
        color: $white;
    }

    .descr {
        color: $white;
        width: 30%;
        text-align: right;
        text-wrap: balance;
    }

    .top {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .img {
        margin-top: $mtheader-margin-top;
    }

    .btn__container {
        margin: -90px 0 40px 40px;
        position: relative;
        z-index: 5;
        display: block;
        width: 30%;


        .btn {
            z-index: 6;
            position: relative;
            background: $white;
            color: $font-color;
        }
    }
}

.color-white {
    color: $white;
}

.header-social-mobile {
    display: none;
}

.tel-mobile {
    display: none;
}

.yandex-link {
    display: none;
}

@media screen and (max-width:1300px) {

    .yandex-link {
        display: flex;
    }

    .header__bottom.active {
        align-items: end;
    }

    .desktop-mail {
        margin-top: $mtdescr-margin-top;
    }

    .social-icon:first-child {
        margin-right: 20px;
    }

    .desktop-none {
        display: none;
    }

    .header-1 {
        font-size: 63px;
        line-height: 51px;
    }

    .header-social-mobile {
        display: block;
    }

    .header__container .header__top .header__right .header__social {
        display: none;
    }

    .container {
        padding: 0 64px;
    }

    .tel-mobile {
        display: block;

        .descr {
            margin-right: 20px;
            font-size: 16px;
        }
    }

    .nav__item {
        grid-column: 12 span;
    }

    .header__bottom {
        margin-top: 80px;
    }

    .main .top .header-1 {
        line-height: 51px;
        text-wrap: balance;
    }

    .main .top {
        flex-direction: column;
    }

    .main .top .descr {
        margin-top: $mtdescr-margin-top;
        width: 100%;
        text-align: left;
        font-size: 14px;
    }

    .partners__container .partners__img {
        width: 100%;
        height: 29px;
    }

    .section-100 {
        margin-top: 80px;
    }

    .catalog .descr {
        text-align: left;
    }

    .type__block-lr .left {
        width: 70%;
        padding: 0 26px 0 40px;
    }

    .type__block-lr .right {
        width: 30%;
    }

    .catalog {
        .header-1 {
            font-size: 60px;
            line-height: 48px;
        }
    }

    .grid-2__item {
        grid-column: 12 span;

        .header-2 {
            text-wrap: balance;
            font-size: 60px;
            line-height: 48px;
        }
    }

    .form__container {
        flex-direction: column-reverse;
    }

    .form__left {
        width: 100%
    }

    .form__right {
        width: 100%
    }

    .form__container .header-1 {
        text-wrap: balance;
    }

    .checkbox__container {
        margin-top: 30px;
    }

    .choise-popup .top {
        flex-direction: column;
    }

    .choise-popup .top .descr {
        width: 100%;
        text-align: left;
        margin-top: $mtdescr-margin-top;
    }

    .choise-popup {
        .header-1 {
            font-size: 60px;
            line-height: 48px;
        }
    }

    .choise-popup .popup__container .left {
        padding: 40px 24px 40px 40px;
    }

    .grid-4__item {
        grid-column: 6 span;
    }

    .rating {

        .header-1 {
            width: 100%;
        }

        .top {
            .descr {
                display: none;
            }
        }

        .yandex-link {
            display: flex;
            align-items: center;
            justify-content: right;
            text-align: right;
            margin-top: $mtdescr-margin-top;
        }
    }

    .invest .top {
        flex-direction: column;

        .header-1 {
            width: 100%;
        }
    }

    .invest .top .descr {
        margin-top: $mtdescr-margin-top;
        text-align: left;
    }

    .choise-popup .step.active {

        flex-direction: column-reverse;

        .left {
            width: 100%;
            border-radius: 0 0 50px 50px;
            height: 49vh;
            margin-top: -5px;
        }

        .right {
            width: 100%;
            border-radius: 0;

            .img {
                height: 270px;
            }
        }


        .input__containers {
            margin-top: $mtheader-margin-top;
        }
    }

    .choise-popup .btn-controls {
        margin-top: 100px;
    }

    .choise-popup {
        .form__right {
            .img {
                height: 270px;
            }
        }

        .form__left {
            margin-top: -5px;
        }
    }

    .news {
        .text-right {
            margin-top: $mtdescr-margin-top;

            a {
                text-decoration: underline;

            }
        }
    }

    .form__right {
        .img {
            height: 270px;
        }
    }

    .footer .grid-3__item {
        grid-column: 12 span;
    }

    .footer {
        padding: 40px 0;
    }

    .invest-page {
        .type__block-lr {
            flex-direction: column-reverse;

            .right {
                width: 100%;
            }

            .left {
                padding-right: 0;
                margin-top: $mtheader-margin-top;
                width: 100%;

                .btn__container {
                    margin-top: $mtheader-margin-top;
                }
            }
        }
    }

    .about-partners {
        padding-bottom: 20px;
    }

    .type-indiv .metro-block {
        width: 100%;
        margin-top: $mtdescr-margin-top;

        .descr {
            margin-top: 0;
        }
    }

    .type-indiv {
        .bottom-block {
            padding-right: 40px;
        }

        .left__icon {
            .img {
                height: 31px;
            }
        }
    }

    .type-indiv .bottom-block .right {
        flex-direction: column;
        align-items: flex-end;

        .descr {
            margin-right: 0;
            width: fit-content;
        }

        .descr:not(:last-child) {
            margin-bottom: 20px;

        }
    }

    .type-indiv .bottom-block .right .descr:last-child {
        margin-right: 0px;
    }

    .shema {
        .top {
            flex-direction: column;

            .descr {
                width: 100%;
                text-align: left;
                margin-top: $mtdescr-margin-top;
                padding-left: 0;
                font-size: 14px;
            }
        }
    }

    .vtorichka-main .top .header-2 {
        width: 100%;
    }

    .vtorichka-main .grid-2__item {
        flex-direction: column;

        .left {
            width: 100%;
        }

        .right {
            width: 100%;
        }
    }

    .artical__content {
        .descr {
            font-size: 14px;
        }

        .header-3 {
            font-size: 16px;
        }
    }

    .news {
        margin-top: 40px;
    }

    .contacts__main .top {
        flex-direction: column;

        .right {
            width: 100%;
            margin-top: $mtdescr-margin-top;
        }
    }

    .err__main .btn__container {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }

    .err__main .top {
        align-items: start;
        flex-direction: column;

        .descr {
            margin-top: $mtdescr-margin-top;
            width: 100%;
            text-align: left;
        }
    }

    .privacy {
        .descr {
            font-size: 14px;
        }

        .header-3 {
            font-size: 16px;
            margin: 20px 0;
        }
    }
}

@media screen and (max-width:710px) {

    .container {
        padding: 0 16px;
    }

    .header.active {
        border-radius: 0 0 30px 30px;
        padding: 40px 0 21px 0;

        .header__right {
            .tel-mobile {
                display: none;
            }
        }
    }

    .header__bottom.active {
        align-items: start;
        flex-direction: column;
        margin-top: 40px;
    }

    .header__bottom .right__block {
        text-align: left;
        margin-top: 77px;
    }

    .header-social-mobile {
        .phone-link {
            display: block;

            .descr {
                font-size: 16px;
            }
        }

    }

    .social-mobile-block {

        .desktop-mail {
            display: none;
        }
    }

    .main .top .header-1 {
        font-size: 44px;
        line-height: 35px;
    }

    .main {
        .top {

            .descr {
                font-size: 12px;
                line-height: 13px;
            }
        }

        .img {
            height: 80%;
        }
    }

    .type-main {
        height: 85vh;
    }

    .partners__container {
        gap: 20px;

        .partners__img {
            height: 21px;
        }
    }

    .section-100 {
        margin-top: 40px;
    }

    .type__block-lr {
        flex-direction: column-reverse;
    }

    .type__block-lr .left {
        width: 100%;
        padding: 0 30px;
    }

    .type__block-lr .right {
        width: 100%;
    }

    .catalog .header-1 {
        font-size: 40px;
        line-height: 32px;
    }

    .catalog .descr {
        font-size: 12px;
        line-height: 13px;
    }

    .header-1 {
        font-size: 44px;
        line-height: 35px;
    }

    .box-relative {
        height: 50vh;
    }

    #advantages {
        transform: translate(160%, 0%);
        gap: 20px;
    }

    .catalog .type__block-lr {
        padding-bottom: 30px;
    }

    .grid-2__item .header-2 {
        text-wrap: balance;
        font-size: 40px;
        line-height: 32px;
    }

    .grid-2__item .text__container {
        padding: 0 30px 30px 30px;
    }

    .descr {
        font-size: 12px;
        line-height: 14px;
    }

    .checkbox__container {
        margin-top: 115px;

        .descr {
            font-size: 14px;
            line-height: 15px;
        }
    }

    .choise-popup .header-1 {
        font-size: 44px;
        line-height: 35px;
    }

    .choise-popup .top .descr {
        font-size: 14px;
        line-height: 15px;
    }

    .choise-popup .type__block-lr .right {
        height: 21vh;
    }

    .choise-popup .popup__container .left {
        padding: 30px;
    }

    .type__block-lr .btn__container {
        padding-bottom: 0;
    }

    .grid-4__item {
        grid-column: 12 span;

        .descr {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .rating .yandex-link {
        justify-content: left;
        text-align: left;
    }

    .swiper-backface-hidden .swiper-slide {
        height: 30vh;
    }

    .arrow-right {
        margin-right: 30px;
    }

    .arrow-left {
        margin-left: 30px;
    }

    .invest .grid-2__item .text-block {
        padding: 30px;
    }

    .header-3 {
        font-size: 14px;
        line-height: 15px;
    }

    .faq .descr {
        font-size: 12px;
        line-height: 11px;
    }

    .info__item .bottom.active {
        margin-bottom: 0px;
    }

    .info__item .bottom.active {
        transform: translateY(-30%);
    }

    .header-2 {
        font-size: 44px;
        line-height: 35px;
    }

    .news .grid-2__item .img {
        height: 250px;
    }

    .grid-2__item .btn__container {
        margin-top: 80px;
    }

    .news {
        .text-right {
            text-align: left;
        }
    }

    .form__left {
        padding: 30px;
    }

    .footer .right .descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .footer .right .descr:first-child {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .footer {

        .center {
            margin-top: 48px;
        }


        .bottom {
            .left {

                .descr {
                    font-size: 14px;
                }
            }

            .right {
                width: 50%;
                text-align: right;

                .descr {
                    font-size: 14px;
                    text-align: right;
                }
            }

            .right svg:nth-child(1) {
                margin-right: 0;
            }
        }
    }

    .choise-popup .step.active .right .img {
        height: 200px;
    }

    .choise-popup .type__block-lr .right {
        height: auto;
    }

    .choise-popup .form__right .img {
        height: 200px;
    }

    .checkbox__container {
        margin-top: 95px;
    }

    input[type=checkbox] {
        flex-shrink: 0;
    }

    .input__group {
        margin-top: 30px;
    }

    .choise-popup .step.active {
        width: 92vw;
    }

    .swiper-backface-hidden .swiper-slide {
        height: 51vh;
    }

    .type-indiv .swiper {
        height: 100%;
    }

    .type-indiv .bottom {
        margin-top: 20px;
    }

    .type-indiv .left__icon .img {
        height: 18px;
    }

    .type-indiv .bottom-block .right .descr {
        font-size: 12px;
    }

    .shema .top .descr {
        font-size: 12px;
        line-height: 14px;
    }

    .shema .grid-2__item .text .descr {
        font-size: 14px;
        line-height: 16px;
    }

    .shema {
        .btn__container {
            margin-top: 10px;
        }
    }

    .shema .grid-2__item .text__container {
        padding: 0 20px;
    }

    .vtorichka-main .right {
        padding: 30px;

        .text__container {
            padding: 0;
        }

        .btn__container {
            margin-top: 30px;
        }
    }

    .news {
        margin-top: 80px;
    }

    .artical__main {
        height: 72vh;
    }

    .artical__content .descr {
        font-size: 12px;
        line-height: 15px;
    }

    .contacts__main .top .left {
        width: 100%;
    }

    .contacts__main .header-3 {
        font-size: 16px;
        line-height: 20px;
    }

    .contacts__main {
        padding: 30px;
    }

    .err__main .img {
        height: 40vh;
    }

    .privacy__table td {
        padding: 15px;
        font-size: 12px;
        line-height: 14px;
    }

    .privacy .descr {
        font-size: 12px;
    }
}